<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Challenges</title>
</head>
<body class="h-screen flex">
  <!-- Leaderboard -->
  <div id="leaderboard" class=" w-1/5 bg-gray-300 flex flex-col">
    <h2 class="text-2xl font-bold flex justify-center mb-5 mt-5">Leaderboard 🏆</h2>
    <div class="grid grid-cols-5 gap-4 overflow-scroll">
        <ul class="col-span-3 ml-2">
            <h3 class="mb-5">Username</h3>
            {% for (user, score, id) in users %}
                <li>{{user}}</li>
            {% endfor %}
        </ul>
        <ul class="col-span-2">
            <h3 class="mb-5">Score ⭐</h3>
            {% for (user, score, id) in users %}
                <li class="text-center">{{score}}</li>
            {% endfor %}
        </ul>
    </div>
    <button onclick="(() => {window.location.href = '/page/{{username}}'})()" class="buttonAnim w-[80%] p-4 border border-black rounded ml-[10%] mt-auto mb-10">Submit your challenge!</button>
</div>

<!-- To see the current challenge -->
<div class="flex flex-col justify-center w-4/5" style="background: url(/static/challengeAccepted.png) no-repeat 120% 50% ; background-size: 60%;">
  <!-- Verticlay align items -->
  <div class="w-[50%] flex flex-col items-center ml-[10%] overflow-scroll">
    <!-- Challenge -->
    <div id="challenge" class="my-4 border-black border rounded p-4 w-fit">
      <p class="text-center text-2xl">The challenge is :</p>
      {% if challenge != None %}
          <p class="text-center">{{ challenge }}</p>
      {% else %}
          <p class="text-center">No challenge avaible for now</p>
      {% endif %}
    </div>
    <p class="text-2xl mb-[40px]">Propositions des participants : </p>

    <!-- Si le type de challenge est un texte -->
    {%if tool == "text"%}
      {% for user, submission in challenges%}
        {% if submission != None %}
          <h2 class="font-bold self-start ml-[15%]">{{user}} : </h2>
          <div class="p-3 rounded border border-black w-[80%] mb-10">
            <p class="text-center">{{submission}}</p>
          </div>
        {%endif%}
      {% endfor %}

    <!-- Si le type de challenge est une video -->
    {%elif tool == "camera"%}
      {% for user, submission in challenges%}
        {% if submission != None %}
          <h2 class="font-bold self-start ml-[15%]">{{user}} : </h2>
          <div class="p-3 rounded border border-black w-[80%] mb-10">
            <video controls>
              <source src="{{submission}}" type="video/webm"></source>
            </video>
          </div>
        {%endif%}
      {% endfor %}

    <!-- Si le type de challenge est un fichier (audio, screen)  -->
    {%elif tool == "file"%}
      {% for user, submission in challenges%}
        {% if submission != None %}
          <h2 class="font-bold self-start ml-[15%]">{{user}} : </h2>
          <div class="p-3 rounded border border-black w-[80%] mb-10">
            <iframe src="{{submission}}" frameborder="0"></iframe>
          </div>
        {%endif%}
      {% endfor %}
    {% endif %}
  </div> 
</div>

<!-- <script>
  const videoElement = document.querySelector('video');

  // Add your API key to the request headers
  const headers = new Headers();
  headers.append('Authorization', 'https://firebasestorage.googleapis.com/v0/b/otolate-bcc65.appspot.com/o/40.webm?alt=media&token=99457e19-84fa-404c-b4a8-191b4623c67f');

  // Fetch the video using the Fetch API with the headers
  fetch('https://storage.googleapis.com/otolate-bcc65.appspot.com/0.webm', { headers })
      .then(response => {
          if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response.blob();
      })
      .then(blob => {
          const videoURL = URL.createObjectURL(blob);
          videoElement.src = videoURL;
      })
      .catch(error => {
          console.error('Error fetching the video:', error);
      });
</script> -->

<style>
  .buttonAnim:hover{
      animation: "buttonAnim" 0.2s ease-in forwards;
  }

  @keyframes buttonAnim{
      100%{
          box-shadow: 5px 5px 5px black;
      }
  }
</style>
</body>
</html>